 * {
   margin: 0;
   padding: 0;
   list-style-type: none;
 } 
 a {
   text-decoration: none;
 }
 .head {
   width: 100%;
   height: 30px;
   background: #ccc;
   margin-bottom: 20px;
 }
 .headc {
   float: left;
   line-height: 30px;
   margin-left: 50px;
 }
 .headr {
   ul {
     float: right;
     width: 55%;
     li {
       float: left;
       margin-right: 3%;
       line-height: 30px;
       color: #222;
       a {
         color: #000000;
       }
     }
   }
 }
 .serch {
   width: 100%;
   line-height: 40px;
   height: 60px;
 }
 .serchl {
   a {
     float: left;
     margin: 10px 20px;
   }
 }
 .serchc {
   float: left;
   width: 40%;
   input {
     width: 80%;
     height: 30px;
     margin: 15px 0;
     border: 2px solid #ccc;
     border-right: 0;
   }
   button {
     width: 18%;
     margin: 15px -4px;
     height: 34px;
     background: red;
     border: 0;
     color: #ccc;
   }
 }
 .serchr {
   a {
     float: right;
     border: 1px soid #ccc;
     width: 8%;
     height: 30px;
     margin: 15px 0;
     text-align: center;
     background: #ccc;
     line-height: 30px;
     margin: 15px 10px;
     color: #000000;
   }
 }
 .nav {
   width: 100%;
   height: 40px;
   background: #ee0000;
   margin-top: 20px;
   margin-bottom: 40px;
   position: relative;
   ul {
     float: left;
     width: 70%;
     height: 40px;
     position: absolute;
     left: 20%;
     z-index: 999999;
     li {
       a {
         float: left;
         padding: 0 1%;
         margin: 0 1.2%;
         height: 40px;
         line-height: 40px;
         color: #fff;
         font-size: 14px;
         &:hover {
           background: #ff0000;
         }
       }
     }
   }
 }
 .navleft {
   width: 15%;
   float: left;
   height: 220px;
   position: absolute;
   z-index: 999999;
   left: 1%;
   ul {
     width: 100%;
     height: 40px;
     li {
       width: 100%;
       height: 40px;
       line-height: 40px;
       background: #fff;
       text-align: center;
       &:hover {
         background: #ff0000;
       }
       &:nth-child(1) {
         background: #ee0000;
       }
     }
   }
 }
 .btn {
   height: 50px;
 }
 .pagWarp {
   height: 40px;
   position: absolute;
   border-radius: 2px;
   right: 42%;
   top: 700px;
   ul {
     height: 40px;
     margin: 0 auto;
     float: left;
     text-align: center;
     padding-left: 40px;
     padding-right: 40px;
     li {
       float: left;
       text-align: center;
       line-height: 40px;
       padding: 0 4px;
     }
   }
 }
 #btnL,#btnR {
   line-height: 40px;
   cursor: pointer;
 }
 #btnL {
   float: left;
 }
 #btnR {
   float: right;
 }
 .active {
   color: blue;
   font-size: 30px;
 }
 .wen {
   width: 100%;
 }
 #cont {
   width: 98%;
   height: 480px;
   margin-left: 2%;
   .box {
     width: 18%;
     height: 48%;
     float: left;
     text-align: center;
     border: 1px solid #3ccc;
     position: relative;
     overflow: hidden;
     img {
       width: 70%;
     }
     h2 {
       font-size: 14px;
       color: #ccc;
     }
     span {
       color: orangered;
     }
     p {
       width: 100%;
       height: 50%;
       background: #ccc;
       opacity: 0.8;
       position: absolute;
       bottom: 0;
       display: none;
       z-index: 2;
     }
     input {
       display: block;
       margin: 0 auto;
     }
   }
 }
 .bottom {
   width: 100%;
   img {
     width: 100%;
   }
 }
